body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999;
    text-align: center;
    width: 400px;
}

h1 {
    margin-bottom: 20px;
    color: #111;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    background: #111;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

.option {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.option.selected {
    background-color: #e30613;
    color: #fff;
}

.option:hover {
    background-color: #ccc;
}